<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hashtil_Jobs_For_Drivers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Hashtil_Jobs_For_Drivers.Properties.Settings>
            <setting name="Uname" serializeAs="String">
                <value />
            </setting>
            <setting name="Upwd" serializeAs="String">
                <value />
            </setting>
        </Hashtil_Jobs_For_Drivers.Properties.Settings>
    </userSettings>
</configuration>